@{
    ViewData["Title"] = "GeoIp";
}

@model GeoViewModel

<div class="text-center">
    <h1 class="display-4">IP: @Model.Ip</h1>
    <h1 class="display-6">City: @Model.City</h1>
    <h1 class="display-6">Country: @Model.Country</h1>
    <h1 class="display-6">Country: @Model.Country</h1>
    <h1 class="display-6">Region: @Model.Region</h1>
    <h1 class="display-6">Organization: @Model.Organization</h1>
    <h1 class="display-6">OrganizationName: @Model.OrganizationName</h1>
    <h1 class="display-6">Timezone: @Model.Timezone</h1>
</div>
